/*
Color Scheme
Dark Grey: #5D5C61
Light Grey: #8C8C8C
Dark Blue: #557A95
Light Blue: #7395AE
Light Brown: #B1A296
*/
html {
   height: 100%; 
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-size:cover;
    font: "Arial";
    display: grid;
    grid-template-rows: 80px auto auto auto;
    grid-template-areas:
        "header"
        "section"
        "article"
        "footer"
}

header {
    background-color: #5D5C61;
}

section {
    background-color: #7395AE;
}

article {
    background-color: #8c8c8c;
}

footer {
    background-color: #B1A296; 
}

#nav {
    width=100%
}
.name {
    text-align:left;
    width:50%;
}

.redir {
    text-align:right;
    width:7.5%;
}
