/*
Color Scheme
Dark red: #5D001E
Light grey: #E3E2DF
Light pink: #E3AFBC
less dark red: #9A1750
light pink: #EE4C7C
*/
html {
   height: 100%; 
}
body {
    margin: 0;
    min-height: 100%;
    font: "Arial";
}

article {
    background-color: #EE4C7C;
}

footer {
    background-color: #B1A296; 
}

title{
    text-align:center;
}

h2 {
    font-size:1.5em;
    color: #CAFAFE;
}
a:link {
    text-decoration: none;
}
#nav {
    width=100%;
    height=100%;
    vertical-align:middle;
}

.name {
    text-align:left;
    vertical-align:middle;
    width:84%;
    color: #CAFAFE;
}

.redir {
    text-align:right;
    vertical-align:middle;
    width:4%;
}

.mTitle {
    text-align:center;
    font-size:3.5em;
    color: #FC4445;
    text-transform:uppercase;
    border:10px solid #FC4445;
    padding: 5rem 10rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
}

.animation {
    background: linear-gradient(-45deg, #B2EBF2, #80DEEA, #4DD0E1, #3FEEE6);
    background-size: 200% 200%;
    position: relative;
    animation: shift 10s ease-in-out infinite;
}

@keyframes shift {
    0% {
        background-position:0 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0 50%;
    }
}
