doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head

    body
        - if (title=="index")
            section
                block section 
            aside
                block aside
        - if (title != "index")
            header
                block header
            section
                block section 
            aside
                block aside
            article
                block article
            footer
                block footer

