doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head

  body
    header
        block header

    section
        block section 

    article
        block article 

    footer
        block footer 
